
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-body" style="height:100%;">
    <div id="toolbar" class="row card" style="background-color:white; height:58px; padding:5px; margin-bottom:10px !important">
        <form class="form" role="form">
            <div class="input-daterange input-group" id="txtCreateDateRange" style="float:left; padding-right:10px">
                <div class="form-group" style="padding:0">
                    <div class="input-group-content" style="width:90px">
                        <input type="text" class="form-control input-sm input-date" name="start" />
                        <label>Create Date</label>
                    </div>
                    <span class="input-group-addon">to</span>
                    <div class="input-group-content" style="width:90px">
                        <input type="text" class="form-control input-sm input-date" name="end" />
                        <div class="form-control-line"></div>
                    </div>
                </div>
            </div>

            <div style="float:left;width:130px;padding-right:10px">
                <div class="form-group">
                    <select id="cbApplicationType" class="form-control input-sm">
                        <option value="">&nbsp;</option>
                        <option value="8">Short Term</option>
                        <option value="9">Long Term</option>
                    </select>
                    <label for="cbApplicationType">Application Type</label>
                </div>
            </div>

            <div style="float:left;width:130px">
                <div class="form-group">
                    <select id="cbStatus" class="form-control input-sm">
                        <option value="">&nbsp;</option>
                    </select>
                    <label for="cbStatus">Status</label>
                </div>
            </div>

            <div style="float: right; padding-top:10px">
                <button id="btnSearch" type="button" class="btn ink-reaction btn-raised btn-sm btn-primary">View</button>               
                <div class="btn-group">
                    <button type="button" class="btn ink-reaction btn-primary btn-sm">New</button>
                    <button type="button" class="btn ink-reaction btn-primary dropdown-toggle btn-sm" data-toggle="dropdown"><i class="fa fa-caret-down"></i></button>
                    <ul class="dropdown-menu dropdown-menu-right" role="menu">
                        <li><a href="#ShotTerm" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#mdAppDetail">Short Term</a></li>
                        <li><a href="#LongTerm" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#mdAppDetail">Long Term</a></li>                       
                    </ul>
                </div><!--end .btn-group -->
            </div>
        </form>
    </div>
    <div class="row">
        <div id="grdApplicationMaster"></div>
    </div>
</div>

<div>

    <!-- BEGIN FORM MODAL APPLICATION DETAIL -->
    <div class="modal fade" id="mdAppDetail" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:98%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="lblMdApplicationHeader">Application Detail</h4>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="btnMdAppDetailSave">Save</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- BEGIN FORM MODAL APPLICATION DETAIL -->
    <div class="modal fade" id="mdAppDetailView" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:80%">
           
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->

    <!-- END FORM MODAL APPLICATION DETAIL -->
    <!-- BEGIN FORM MODAL VENDOR LIST -->
    <div class="modal fade" id="mdVendorList" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:60%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">List of Vendor</h4>
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button id="btnMdVendorListSelect" type="submit" class="btn btn-primary">Select</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END FORM MODAL VENDOR LIST-->
    <!-- BEGIN FORM MODAL VENDOR -->
    <div class="modal fade" id="mdVendor" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:50%">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END FORM MODAL VENDOR -->
    <!-- BEGIN FORM MODAL VENDOR VIEW -->
    <div class="modal fade" id="mdVendorView" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:50%">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END FORM MODAL VENDOR VIEW-->
    <!-- BEGIN FORM MODAL EMPLOYEE INFOR -->
    <div class="modal fade" id="mdEmpInfor" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:90%">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Employee's Information</h4>
                    <input type="hidden" id="hdfMdEmpInforEmpId" />
                </div>
                <div class="modal-body">


                </div>
                <div class="modal-footer">
                    <button id="btnMdEmpSelect" class="btn btn-primary">Select</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END FORM MODAL EMPLOYEE INFOR -->
    <!-- BEGIN FORM MODAL APPROVALLINE -->
    <div class="modal fade" id="mdApprovalLine" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:95%">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END FORM MODAL APPROVALLINE-->
    <!-- BEGIN FORM MODAL VISITOR INFOR -->
    <div class="modal fade" id="mdVisitorInfor" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:50%">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END FORM MODAL VISITOR INFOR-->
    <!-- BEGIN FORM MODAL VISITOR INFOR VIEW -->
    <div class="modal fade" id="mdVisitorInforView" tabindex="-1" role="dialog" aria-labelledby="formModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="width:50%">

        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- END FORM MODAL VISITOR INFOR VIEW-->
</div>

<script type="text/javascript">

    //DateTime fromDate, DateTime toDate, string applicationType, string userId, string approvalStatus
    var _minDate = new Date(2000, 01, 01);
    var _maxDate = new Date(2990, 01, 01);
    var _para = { fromDate: _minDate.toISOString(), toDate: _maxDate.toISOString(), applicationType: "", userId: "", approvalStatus: "" };
    var _localHref = window.location.href;
    $(document).ready(function () {
        fnInit();
        var id
    });

    function fnInit() {
        $('#txtCreateDateRange').datepicker({ todayHighlight: true, format: _dateFormat });

        var d = new Date();
        var firstDayIn = new Date(d.getFullYear(), d.getMonth(), 1);
        var lastDayInMonth = new Date(new Date(d.getFullYear(), d.getMonth() + 1, 1) - 1);

        fnGetCateValueViaParent("054E0F62-4EFE-41E1-A18D-5C28A6531539", false, $("#cbStatus"), 'EAF964F0-F557-40C7-AD06-F0B4A6571A4F');
        //fnGetCateValueViaCateId("6169EBED-0F4A-4688-9991-4777D53CB4FE", false, $("#cbApplicationType"));

        _para.fromDate = _minDate.toISOString();
        _para.toDate = _maxDate.toISOString();

        fnGridInitial(_para);
    }

    function fnGridInitial(para) {

        var dateRange = $("#txtCreateDateRange").find("input");
        _para.fromDate = _isValidDate($(dateRange[0]).val(), _minDate).toISOString();
        _para.toDate = _isValidDate($(dateRange[1]).val(), _maxDate).toISOString();
        _para.applicationType = $("#cbApplicationType").val();
        _para.approvalStatus = $("#cbStatus").val();
        _para.userId = $("#hdfLogInId").val();

        $("#grdApplicationMaster").kendoGrid({
            dataSource: {
                transport: {
                    read: "/VisitorApplicationMaster/GetAll?fromDate=" + _para.fromDate + "&toDate=" + _para.toDate + "&applicationType=" + _para.applicationType + "&userId=" + _para.userId + "&approvalStatus=" + _para.approvalStatus,
                    create: {
                        cache: true
                    }
                },
                schema: {
                    model: {
                        fields: {
                            Id: { type: "int" }, IdEncypt: { type: "string" }, Code: { type: "string" }, Vendor: { type: "string" }, VendorName: { type: "string" },
                            Applicant: { type: "string" }, ApplicantName: { type: "string" }, Purpose: { type: "string" },
                            PurposeName: { type: "string" }, Gate: { type: "string" }, GateName: { type: "string" }, ApplicationType: { type: "string" }, ApplicationTypeName: { type: "string" },
                            ApprovalLineJson: { type: "string" }, ApprovalLine: { type: "string" }, ApprovalStatus: { type: "string" }, ApprovalStatusName: { type: "string" },
                            LocationOther: { type: "string" }, ApprovalKind: { type: "string" }, ApprovalKindName: { type: "string" }, FromDate: { type: "date" }, ToDate: { type: "date" },
                            Location: { type: "string" }, ContactPerson: { type: "string" }, ContactNumber: { type: "string" },
                            OrgName: { type: "string" }, PlantName: { type: "string" }, DeptName: { type: "string" }, SectionName: { type: "string" }, ConfirmDate: { type: "date" },
                            NextApprover: { type: "string" }, NextApproverName: { type: "string" }, CreateUid: { type: "string" }, CreateName: { type: "string" }, CreateDate: { type: "date" }
                        }
                    }
                },
                pageSize: 20
            },
            height: $('footer').position().top - 178,
            filterable: {
                mode: "row"
            },
            dataBound: function (e) {
                this.element.find(".k-filtercell .k-autocomplete .k-clear-value").remove();
            },
            selectable: "row",
            sortable: true,
            pageable: true,
            resizable: true,
            cache: false,
            columns: [
                { field: "Code", title: "Doc No", width: "160px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                { field: "VendorName", title: "Company Name", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                { field: "PurposeName", title: "Purpose", width: "280px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                { field: "LocationName", title: "Location", width: "270px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                { field: "LocationOther", title: "Location Other", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                {
                    title: "Visit Date",
                    columns: [
                        { field: "FromDate", title: "From", format: "{0:yyyy.MM.dd}", width: "150px", filterable: false },
                        { field: "ToDate", title: "To", format: "{0:yyyy.MM.dd}", width: "150px", filterable: false }
                    ]
                },
                {
                    title: "Contact Point",
                    columns: [
                        { field: "ContactPerson", title: "Person", width: "140px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                        { field: "ContactNumber", title: "Telephone", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                    ]
                },
                {
                    title: "Approval",
                    columns: [
                        { field: "ConfirmDate", title: "Confirm Date", format: "{0:yyyy.MM.dd}", width: "150px", filterable: false },
                        { field: "ApprovalStatusName", title: "Status", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                        { field: "NextApproverName", title: "Next Approver", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                    ]
                },
                {
                    title: "Person in Charge",
                    columns: [
                        { field: "OrgName", title: "Org Name", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                        { field: "PlantName", title: "Plant", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                        { field: "DeptName", title: "Department", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                        { field: "SectionName", title: "Section", width: "150px", filterable: { cell: { showOperators: false, operator: "contains" } } }
                    ]
                },
                { field: "CreateUid", title: "Create Uid", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                { field: "CreateName", title: "Create Name", width: "180px", filterable: { cell: { showOperators: false, operator: "contains" } } },
                { field: "CreateDate", title: "Create Date", format: "{0:yyyy.MM.dd}", width: "150px", filterable: false }
            ]
        });
    }

    $("#grdApplicationMaster").on("dblclick", "tbody > tr", function () {        
        var grid = $("#grdApplicationMaster").data("kendoGrid");
        var dataItem = grid.dataItem($(grid.select()));
        
        $("#mdAppDetailView").modal("show");
        var link = '@Url.Action("ShowApplicationDetailView", "VisitorApplicationMaster", new { id = "vendorId" })';
        $.get(link.replace('vendorId', dataItem.IdEncrypt), function (data) {
             $("#mdAppDetailView .modal-dialog").html(data);
             $("#mdAppDetailView .modal-body").css({ "max-height": $('footer').position().top - 130, overflow:"auto" });
        });
    })

    $("#mdAppDetailView").on('hidden.bs.modal', function () {
        $("#mdAppDetailView .modal-dialog").html("");
    });

    $("#mdEmpInfor").on('shown.bs.modal', function () {
        var empId = $("#hdfMdEmpInforEmpId").val();
        var link = '@Url.Action("ShowModalEmployeeInfor", "Common", new { id = "empId" })';
        $.get(link.replace('empId', empId), function (data) {
            $("#mdEmpInfor .modal-body").html(data);
            $("#mdEmpInfor .modal-body").css({ "max-height": $('footer').position().top - 175, overflow: "auto" });
        });
    });

    function fnMdEmpInforClose() {
        var grid = $("#gridEmpInfor").data("kendoGrid");
        var dataItem = grid.dataItem($(grid.select()));
        if (dataItem === null)
            var dataItem = { LoginID: "", Name: "", OrganizeName: "", PlantName: "", DeptName: "", SectionName: "", DeptId: 0 };
        _fnSetValueForElementEmployeeInfor(_employeeInfor, dataItem);
    }

    $("#mdVendorList").on('shown.bs.modal', function () {
        var link = '@Url.Action("ShowVendorList", "VisitorApplicationMaster")';
        $.get(link, function (data) {
            $("#mdVendorList .modal-body").html(data);
            $("#mdVendorList .modal-body").css({ "max-height": $('footer').position().top - 175, overflow: "auto" });
        });
    });

    function fnMdVendorClose() {
        var grid = $("#grdVendor").data("kendoGrid");
        var dataItem = grid.dataItem($(grid.select()));
        if (dataItem === null) {
            var dataItem = { Id: 0, CompanyName: "", ContactPerson: "", Email: "", PhoneNumber: "", Address: "" };
        }
        _fnSetValueForElementVendorInformation($("input[name='VendorInformation']"), dataItem);
    }

    $("#mdAppDetail").on('shown.bs.modal', function () {
        var link = '@Url.Action("ShowApplicationDetail", "VisitorApplicationMaster")';
        $.get(link, function (data) {
            $("#mdAppDetail .modal-body").html(data);
            $("#mdAppDetail .modal-body").css({ "max-height": $('footer').position().top - 145, overflow: "auto" });
        });
    });

     $("#mdAppDetail").on('hidden.bs.modal', function () {
         $.ajax({
             type: "POST",
             url: "/VisitorApplicationMaster/ApplicationMasterDelete",
             data: JSON.stringify({ id: _applicationMaster.Id }),
             contentType: "application/json; charset=utf-8",
             dataType: "json",
             async: true,
             cache: false,
             success: function (result) {
                 $("#mdAppDetail .modal-body").html("");
             },
             error: function (mess) {
                 console.log(mess);
                 return false;
             }
         });
    });
     

    $("#mdVisitorInforView").on('shown.bs.modal', function () {
        var grid = $("#grdVisitorList").data("kendoGrid");
        var dataItem = grid.dataItem($(grid.select()));
        var link = '@Url.Action("ShowVisitorDetailView", "VisitorApplicationMaster", new { id = "empId" })';
        alert(dataItem.Id);
        $.get(link.replace('empId', dataItem.Id), function (data) {
            $("#mdVisitorInforView .modal-dialog").html(data);
            $("#mdVisitorInforView .modal-body").css({ "max-height": $('footer').position().top - 175, overflow: "auto" });
        });
     });

     $("#mdVisitorInfor").on('hidden.bs.modal', function () {
         $("#mdVisitorInfor .modal-dialog").html("");
     });

     $("#mdVisitorInforView").on('hidden.bs.modal', function () {
         $("#mdVisitorInfor .modal-dialog").html("");
     });

    $("#mdVisitorInfor").on('shown.bs.modal', function () {
        var link = '@Url.Action("ShowVisitorDetail", "VisitorApplicationMaster")';
        $.get(link, function (data) {
            $("#mdVisitorInfor .modal-dialog").html(data);
            $("#mdVisitorInfor .modal-body").css({ "max-height": $('footer').position().top - 175, overflow: "auto" });
        });
    });

    $("#btnSearch").on("click", function () {
        var dateRange = $("#txtCreateDateRange").find("input");

        _para.fromDate = _isValidDate($(dateRange[0]).val(), _minDate).toISOString();
        _para.toDate = _isValidDate($(dateRange[1]).val(), _maxDate).toISOString();

        fnGridInitial(_para);
    })


</script>
